body {
  background: linear-gradient(
    to right,
    #fce9ff,
    #efe0ff,
    #e1d3ff,
    #d5d0ff,
    #c4c5ff
  );
  background-size: 400% 400%;
  animation: animate-background 30s infinite ease-in-out;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.title {
  font-family: Pacifico;
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calender {
  height: 690px;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
.months {
  display: grid;
  grid-template: auto auto / repeat(3, auto);
  justify-content: space-between;
  gap: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}
