body {
  background: linear-gradient(
    to right,
    #fce9ff,
    #efe0ff,
    #e1d3ff,
    #d5d0ff,
    #c4c5ff
  );
  background-size: 400% 400%;
  animation: animate-background 60s infinite ease-in-out;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
