.title {
  user-select: none;
  font-family: Pacifico;
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  animation: fade-in 1s;
}
.calender {
  height: 690px;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
.months {
  display: grid;
  grid-template: auto auto / repeat(3, auto);
  justify-content: space-between;
  gap: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}
.create-button {
  font-size: 125%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 2%;
  animation: fade-in 1.5s;
}
a:visited {
  text-decoration: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
