.dream-list {
  box-shadow: rgba(0, 0, 0, 0.15) -5px 1.95px 2.6px;
  height: 15vh;
  width: 95%;
  display: flex;
  float: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: auto;
}
.date {
  align-self: center;
  font-size: 200%;
  width: 30%;
}
.sleep-stuff {
  align-self: center;
  font-size: 150%;
  width: 15%;
}
.dream {
  align-self: center;
  width: 50%;
  font-size: 110%;
}
.buttons {
  cursor: pointer;

  align-self: center;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
