.view-entries {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 50.25%;
  top: 39%;
  border-radius: 10px;
  /*
        Nope =(
        margin-left: -25%;
        margin-top: -25%;
        */

  /* 
        Yep!
        */
  transform: translate(-50%, -50%);
  animation: widen 2.5s;
  animation-fill-mode: forwards;
}
@keyframes widen {
  0% {
    height: 5px;
    width: 5px;
  }
  50% {
    width: 5px;
    height: 690px;
  }
  100% {
    width: 85vw;
    height: 690px;
  }
}
