.view-entries {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 50.25%;
  top: 39%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  animation: widen 2s;
  animation-fill-mode: forwards;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
@keyframes widen {
  0% {
    height: 5px;
    width: 5px;
  }
  50% {
    width: 5px;
    height: 690px;
  }
  100% {
    width: 85vw;
    height: 690px;
  }
}
.data {
  opacity: 0;
  animation: fade-in 2.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dreams {
  display: block;
}

.close {
  margin-left: 97%;
  margin-top: 1%;
  position: sticky;
  top: 0;
  animation: fade-in-close 2.5s;
  opacity: 0.3;
  cursor: pointer;
}
@keyframes fade-in-close {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.no-dreams {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Inter;
  font-weight: 500;
  font-size: 200%;
}
.create-button > button {
  font-size: 100%;
  background: #d5d0ff;
  box-shadow: 0 5px 0px #948fc5;
  color: gray;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.create-button > button:active {
  box-shadow: none;
  transform: translateY(5px);
}
