.month-name {
  user-select: none;
  background: url("../images/calender.png");
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  font-size: 30px;
  font-family: Karla;
  cursor: pointer;
  line-height: 200%;
  animation: fade-in 2s;
  margin: 5%;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
